<div class="flex flex-col justify-center items-center h-full">
  <div class="bg-neutral-800 p-10 rounded">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <h1 class="text-center font-bold text-3xl">Registro</h1>

      <div class="flex flex-col my-8 gap-1">
        <div>
          <p class="text-xs mb-2">Nombre de usuario</p>
          <input
            type="text"
            formControlName="username"
            placeholder="Username"
            class="rounded bg-neutral-600 p-2 text-sm w-full"
          />
          <span class="text-red-600 text-xs mt-1 min-h-[16px] block"
                [class.invisible]="!isValidField('username')">
            {{ getFieldError('username') }}
          </span>
        </div>

        <div>
          <p class="text-xs mb-2">Correo</p>
          <input
            type="email"
            formControlName="email"
            placeholder="example@example.com"
            class="rounded bg-neutral-600 p-2 text-sm w-full"
          />
          <span class="text-red-600 text-xs mt-1 min-h-[16px] block"
                [class.invisible]="!isValidField('email') ">
            {{ getFieldError('email') }}
          </span>
        </div>

        <div>
          <p class="text-xs mb-2">Contraseña</p>
          <input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
            class="rounded bg-neutral-600 p-2 text-sm w-full"
          />
          <span class="text-red-600 text-xs mt-1 min-h-[16px] block"
                [class.invisible]="!isValidField('password')">
            {{ getFieldError('password') }}
          </span>
        </div>

        <div class="flex justify-center mt-3">
          <button
          class="rounded p-2 font-bold text-sm"
          [disabled]="myForm.invalid"
          type="submit"
          [ngClass]="{ 'bg-neutral-700': myForm.invalid, 'bg-violet-700': !myForm.invalid }"
        >
          Registrarse
        </button>

        </div>
      </div>
    </form>

    <div class="flex">
      <p class="text-sm mr-2">¿Ya tienes una cuenta?</p>
      <a routerLink="/auth/login" class="text-sm font-bold">Inicia sesión</a>
    </div>
  </div>


